.main {
  /* background-color: blue; */
  /* height: calc(100vh - 71px); */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0;
  margin-top: 10px;
  height: calc(100dvh - 71px);
  overflow-y: scroll;
}

.main hr {
  width: 100vw;
}

.main::-webkit-scrollbar {
  display: none;
}

.loader,
.miniLoader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(28dvh - 71px);
}

.miniLoader {
  height: auto;
}

.profileArea {
  height: calc(28dvh - 71px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnArea {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.contentArea {
  height: auto;
}

.allPost {
  display: flex;
  flex-direction: column;
}

.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.create button {
  width: 90%;
  margin-top: 20px;
}

.lower {
  height: 100px;
  background-color: rgb(255, 255, 255);
}

@media (max-width:500px) {
  .btnArea button {
    font-size: 12px;
    padding: 10px 5px;

  }
}