.blogContainer {
  max-width: 1200px;
  margin: 0 auto;
  color: #111;
  padding: 0 2rem;
}

.blogContainer {
  overflow-x: auto;
}

.title {
  text-align: center;
  font-size: 40px;
}

.blogImgholder {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.blogImgholder p {
  margin-bottom: 10px;
}

.blogImg {
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 16/9;
  object-fit: cover;
  margin: 0 auto;

}


.markdown h1,
.markdown h2,
.markdown h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
}

.markdown p,
.markdown li {
  line-height: 1.8;
  margin-bottom: 1rem;
  color: #111111cc;
}

.markdown::selection {
  background-color: #69fc9ae8;
  color: #242424;
  font-style: oblique;
}

.markdown code {
  background-color: #b1b1b128;
  padding: 0.2rem 0.4rem;
  font-size: 0.95rem;
  border-radius: 4px;
  font-weight: 600;
  color: #0c0a2b8f;
}

.markdown pre code {
  padding-top: 40px;
}


.markdown code::-webkit-scrollbar {
  display: none;
}

.markdown table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  margin: 16px 0;
  font-size: 0.95rem;
  min-width: 300px;
}

.markdown th,
.markdown td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
  overflow-x: scroll;
}

.markdown thead {
  font-weight: bold;
}

.markdown table td select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.loader,
.smallloader {
  height: calc(100dvh - 200px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallloader {
  height: auto;
}

.chat_wrapper {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.tooltip {
  position: absolute;
  bottom: 85px;
  right: 0;
  background-color: #9c8e8e;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
  transform: scale(0);
}

.chat_wrapper:hover .tooltip {
  opacity: 1;
  transform: scale(1);
}

.chat_with_ai {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: var(--primary-green);
  border-radius: 100%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  opacity: 0.8;
  cursor: pointer;
  border: none;
  transform: scale(0.8);
}

.chat_with_ai:hover {
  transform: scale(1);
  opacity: 1;

}

.chat_with_ai img {
  width: 40px;
}



@media (max-width:800px) {
  .title {
    font-size: 30px;
  }
}

@media (max-width:480px) {
  .blogContainer {
    padding: 0 0.5rem;
  }

  .title {
    margin: 5px;
  }

  .tooltip {
    bottom: 15px;
    right: 68px;
    background-color: transparent;
    color: var(--primary-green);
    opacity: 1;
    transform: scale(1);
  }

  .chat_with_ai {
    bottom: -5px;
  }

  .chat_with_ai:hover {
    transform: scale(0.8);
  }
}

@media (max-width:400px) {
  .title {
    margin-top: 5px;
    font-size: 20px;
    text-align: left;
  }

  .markdown p,
  .markdown li {
    line-height: 1.8;
    margin-bottom: 1rem;
    color: #111111cc;
  }

}