.main {
  /* background-color: blue; */
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.contentArea {
  width: 100vw;
  height: calc(80vh-60px);
  max-width: 1200px;
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  overflow: hidden;
  overflow-y: auto;
}

.btnArea {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.allPosts {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;

}

.create {
  height: auto;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: calc(100% - 20px);
  padding: 10px;
  max-width: 1200px;
}

@media (max-width: 1280px) {

  .create {
    width: 98vw;
  }
}

@media (max-width: 480px) {
  .btnArea button {
    font-size: 12px;

  }

  .create h3 {
    font-size: 14px;
  }

  .create input {
    font-size: 11px;
  }
}