.link {
  text-decoration: none;
  color: black;
}

.wraper {
  max-width: 1200px;
  height: 210px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin: 10px;
  margin-bottom: 0;
  transition: 0.122s ease-in-out;
}

.wraper:hover {
  transform: scale(1.01);
}

.imgSection {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgSection img {
  height: 100%;
  min-width: 150px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.textSection {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleAndDescp {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex: 1;
  gap: 0;
  overflow: hidden;
}

.titleAndDescp h1,
.titleAndDescp p {
  margin: 0;
  padding: 0;
}

.about {
  opacity: 0.9;
  color: #084fb9;
  flex: 1;
  text-overflow: ellipsis;
}



.author {
  opacity: 0.56;
}

@media (max-width: 900px) {
  .wraper {
    height: 160px;
  }

  .about p {
    font-size: small;
  }
}

@media (max-width: 890px) {

  .author {
    display: none;
  }
}

@media (max-width: 690px) {
  .wraper {
    height: 120px;
  }

  .h1 {
    font-size: large;
  }

  .textSection {
    align-items: start;
    justify-content: start;
  }

  .category {
    display: none;
  }
}

@media (max-width: 480px) {
  .wraper {
    height: 80px;
  }

  .about p {
    font-size: xx-small;
  }

  .h1 {
    font-size: small;
  }
}