* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Inter, sans-serif;
}

html,
body {
  height: 100%;
  min-height: 500px;
  overflow: hidden;
  /* navbar stays at top, no body scroll */
}

#main-container {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 500px;
}

#main-container::-webkit-scrollbar {
  display: none;
}

.lastDiv {
  height: 100px;
  width: 100%;
  background-color: orange;
}

:root {
  --primary-green: #0A8834;
  --dark-green: #0c5525;
  --light-green: #8CB198;
  --white: #fff;
  --black: #000;

}