.wrapedlink {
  text-decoration: none;
  color: var(--black);
}

.pfpWraper,
.skeletonPfpWraper {
  width: 100%;
  max-width: 1200px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  /* border: 1px solid black; */
  margin-top: 15px;
}

.skeletonPfpWraper {
  gap: 2px;
  height: 200px;
  animation: opacityAnimation 1.5s infinite;
}

@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.7;
  }

  50% {
    opacity: 0.4;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.imgWraper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #d34040; */
  height: 100%;
}

.pfpImg {
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.txtWraper,
.skeletonTtxtWraper {
  flex: 3;
  /* background-color: #c78e8e; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  height: 100%;
}

.skeletonTtxtWraper {
  align-items: center;
  justify-content: center;
}

.headingAndlogo,
.skeletopnWrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 5px;
  /* background-color: antiquewhite; */

}

.skeletopnWrapper {
  background-color: #ececec;
  height: 40%;
}

.editBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.22s ease-in-out;
}

.editBtn:hover {
  opacity: 1;
}

.txtWraper h1 {
  color: var(--primary-green);
  font-size: xx-large;
}

.txtWraper p {
  white-space: pre-line;
}

.readMore {
  border: none;
  background-color: transparent;
  color: rgb(42, 42, 250);
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnArea {
  width: 100%;
}

.btnArea button {
  width: 100%;
}

.visit {
  text-decoration: none;
}

@media (max-width: 690px) {

  .pfpWraper,
  .skeletonPfpWraper {
    height: 140px;
  }

  .txtWraper,
  .skeletonTtxtWraper {
    gap: 3px;
    overflow: hidden;
  }


  .txtWraper h1 {
    font-size: large;
  }

  .txtWraper p {
    white-space: pre-line;
    font-size: x-small;
  }
}

@media (max-width: 510px) {
  .editBtn {
    opacity: 1;
  }

  .pfpWraper,
  .skeletonPfpWraper {
    height: 100px;
    margin-top: 1px;
  }

  .btnArea button {
    border-radius: 8px;
    width: 90%;
    font-size: 14px;
  }

}