.filterArea {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.filterArea button {
  min-width: 80px;
  padding: 10px;
}

.filterArea::-webkit-scrollbar {
  display: none;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width:900px) {
  .filterArea button {
    font-size: 16px;
  }
}